// COLORS
$init_blue: #257DE4;
$init_lightBlue: #78CEFF;
$init_purple: #9013FE;
$init_green: #41B883;
$init_greenLight: #7ED321;
$init_yellow: #E1D219;
$init_red: #D0011B;
$init_brown: #8B572A;
$init_gray: #BDBDBD;


// FONTS
$Barriecito: 'Barriecito', cursive;
$Beth: 'Beth Ellen', cursive;
$Mountains: 'Mountains of Christmas', cursive;
$Kristi: 'Kristi', cursive;


// DESIGNER BASICS
$subBackground1: $init_blue;
$subHeader1: $init_lightBlue;
$subHeaderFont1: $Mountains;
$subcontent1: $init_purple;
$subcontentFont1: $Barriecito;

// RESOURCES
$subBackground2: $init_greenLight;
$subHeader2: $init_yellow;
$subHeaderFont2: $Kristi;
$subcontent2: $init_red;
$subcontentFont2: $Beth;

// LEARN MORE
$buttonSignUp: $init_brown;
$buttonSignUpText: $init_red;

// OTHER
$buttonText: $init_red;
$buttonBackground: $init_brown;
$links: $init_gray;

// COLOR BAR
$init_1: #E1D219;
$init_2: #7ED321;
$init_3: #D0011B;
$init_4: #8B572A;
$init_5: #257DE4;
$init_6: #9013FE;
$init_7: #F98293;
$init_8: #AFE875;
$init_9: #FDE54D;
$init_10: #FBA602;
$init_11: #7D1D7E;
$init_12: #017B01;

$colorBar: $init_1 $init_2 $init_3 $init_4 $init_5 $init_6 $init_7 $init_8 $init_9 $init_10 $init_11 $init_12
