// COLORS
$red: #D0011B;
$purple: #5a003d;
$brown: #8B572A;
$grayLight: #F2F2F2;
$gray: #BDBDBD;
$greenLight: #42B983;
$green: #017d50;
$darkGreen: #22624B;
$darkBlue: #35495E;

// FONTS
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Saira: 'Saira Stencil One', cursive;

// THEME
$subHeader: $darkGreen;
$subHeaderFont: $Saira;
$subcontent: $darkBlue;
$subcontentFont: $Montserrat;

//LINKS
$links: $green;
$linksVisited: $purple;
$linksHoverFocus: black;
