// COLORS
$red: #D0011B;
$purple: #5a003d;
$brown: #8B572A;
$grayLight: #F2F2F2;
$gray: #BDBDBD;
$greenLight: #42B983;
$green: #017d50;
$darkGreen: #22624B;
$darkBlue: #35495E;

// FONTS
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Saira: 'Saira Stencil One', cursive;

// THEME
$subHeader: $darkGreen;
$subHeaderFont: $Saira;
$subcontent: $darkBlue;
$subcontentFont: $Montserrat;

// COLOR BAR
$colorBar_1: #E1D219;
$colorBar_2: #7ED321;
$colorBar_3: #D0011B;
$colorBar_4: #8B572A;
$colorBar_5: #257DE4;
$colorBar_6: #9013FE;
$colorBar_7: #F98293;
$colorBar_8: #AFE875;
$colorBar_9: #FDE54D;
$colorBar_10: #FBA602;
$colorBar_11: #7D1D7E;
$colorBar_12: #017B01;

$colorBar: $colorBar_1 $colorBar_2 $colorBar_3 $colorBar_4 $colorBar_5 $colorBar_6 $colorBar_7 $colorBar_8 $colorBar_9 $colorBar_10 $colorBar_11 $colorBar_12